.container{
height: 100vh;
.headerWrapper{
    height: 100px;
}
.contentWrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.08);
    padding:20px 20px 0 20px;
    .leftWrapper{
        width: 24%;
        background-color: #fff;
        padding: 16px;
        // padding: ;
    }
    .centerWrapper{
        // flex:1;
        width: 40%;
        margin:0 40px;
        padding: 16px;
        background-color: #fff;
        // background-color: rgb(252, 173, 210);
    }
    .rightWrapper{
        flex:28%;
        // flex: 20%;
        background-color: #fff;
        padding: 16px;
    }
}
}