.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    .left{
        flex:auto
    }
    .center{
        flex:auto;
        text-align:center;
    }
    .right{
        text-align: right;
        flex:auto
    }
}