.container{
    height: 100vh;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
    .content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.08);
        padding:20px 20px 0 20px;
        .left{
            width: 27%;
            background-color: #fff;
            padding: 16px;
            // height: 100%;
            // overflow-y: scroll;
            // width: 300px;
        }
        .main{
            width: 38%;
            padding:40px;
            .wrapper{
                height: 100%;
                overflow-y: scroll;
                background-color: #fff;
                .title{
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                }
                .canvas-wrapper{
                    margin-bottom: 80px;
                    background-color: lightcyan;
                }
            }
        }
        .right{
            flex: 20%;
            background-color: #fff;
            padding: 16px;
            // width: 300px;
        }

    }
}