.container{
    height: 100vh;
    overflow: hidden;
    // display: flex;
    // flex-direction: column;
    .content{
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(0,0,0,0.08);
        padding:20px 20px 0 20px;
        .left{
            width: 27%;
            background-color: #fff;
            padding: 16px;
            // height: 100%;
            // overflow-y: scroll;
            // width: 300px;
        }
        .main{
            width: 38%;
            padding:20px 40px;
            .wrapper{
                height: 100%;
                width: 100%;
                padding-top: 40px;
                overflow-y: scroll;
                background-color: #fff;
                .canvas-wrapper{
                    width: 100%;
                    // padding:0 10px;
                    margin-bottom: 80px;
                    // background-color: rgb(50, 255, 255);
                }
            }
        }
        .right{
            flex: 20%;
            background-color: #fff;
            padding: 16px;
            // width: 300px;
        }

    }
}