
.wrapper{
    border-bottom:solid 1px #cccccc70;
    /* border-bottom:solid 1px #cccccc70; */
    padding: 16px 10px;
    border-radius: 6px;
    .title{
    font-size: 20px;
    margin-bottom: 10px;
    }
    .list{
        list-style-type: none;
        padding: 0;
    }
}
.vertical{
    margin-bottom: 10px;
    input{
        margin-right: 10px;
    }
        }
.horizontal{
    display: inline-block;
    margin-right: 10px;
    input{
        margin-right: 10px;
    }
}