.header{
    padding:0 24px;
    color: aliceblue;
    .left{
        float: left;
    }
    .right{
        height: 100%;
        float: right;
    }
}
.main{
    min-height: calc(100vh - 64px - 65px);
    position: relative;
    
}
.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #d3d3d3;
    border-top: solid 1px #e8e8e8;
}